<h1>Hello, Vue!</h1>
<ol id="hello-vue">
  <li v-for="item in list">
    <a v-bind:href="item.path">{{ item.title }}</a>
  </li>
</ol>
<h1>Hello, Vue Router!</h1>
<ol id="hello-vue-router">
  <li v-for="item in list">
    <a v-bind:href="item.path">{{ item.title }}</a>
  </li>
</ol>
<h1>Hello, Vuex!</h1>
<ol id="hello-vuex">
  <li v-for="item in list">
    <a v-bind:href="item.path">{{ item.title }}</a>
  </li>
</ol>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var hello_vue = new Vue({
    el: "#hello-vue",
    data: {
      list: [
        {title: "Introduction", path: "./hello.html"},
        {title: "Computed Properties", path: "./computed_properties.html"},
        {title: "Watchers", path: "./watchers.html"},
        {title: "Class Bindings", path: "./binding_html_classes.html"},
        {title: "Style Bindings", path: "./binding_inline_styles.html"},
        {title: "Conditional Rendering", path: "./conditional_rendering.html"},
        {title: "List Rendering", path: "./list_rendering.html"},
        {title: "Event Handling", path: "./event_handling.html"},
        {title: "Form Input Bindings", path: "./form_input_bindings.html"},
        {title: "Components Basics", path: "./components_basics.html"},
        {title: "Transitions & Animation", path: "./transitions_and_animations.html"},
        {title: "Custom Directives", path: "./custom_directives.html"},
        {title: "Render Functions & JSX", path: "./render_functions.html"},
        {title: "Filters", path: "./filters.html"}
      ]
    }
  })
  var hello_vue_router = new Vue({
    el: "#hello-vue-router",
    data: {
      list: [
        {title: "Getting Started", path: "./router/hello.html"},
        {title: "Dynamic Route Matching", path: "./router/dynamic_route_matching.html"},
        {title: "Nested Routes", path: "./router/nested_routes.html"},
        {title: "Named Routes", path: "./router/named_routes.html"},
        {title: "Named Views", path: "./router/named_views.html"},
        {title: "Redirect and Alias", path: "./router/redirect_and_alias.html"},
        {title: "Passing Props to Route Components", path: "./router/passing_props_to_route_components.html"},
        {title: "Transitions", path: "./router/transitions.html"}
      ]
    }
  })
  var hello_vuex = new Vue({
    el: "#hello-vuex",
    data: {
      list: [
        {title: "Getting Started", path: "./vuex/hello.html"},
      ]
    }
  })
</script>
